---
import elements from '/src/data/alchemistry/elements.json';

import { getLangFromUrl, useTranslatedPath, useTranslations } from '/src/i18n/utils';

import Layout from '/src/layout/layout.astro';
import LanguagePicker from '/src/components/LanguagePicker/index.astro';
import SpoilerWarning from '/src/components/SpoilerWarning';


import '/src/css/alchemistryItemsList.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const localizedElements = Object.keys(elements).map((x) => ({
	id: x,
	name: t(`alchemistry:items:${x}`)
}));
localizedElements.sort((a, b) => {
	if(a.name > b.name) {
		return 1;
	}

	if(a.name === b.name) {
		return 0;
	}

	return -1;
});
---
<Layout title={`Alchemistry - ${t(`alchemistry:wiki:items-page-title`)}`}>
	<div class="items-list">
		<LanguagePicker />

		<h1>{t(`alchemistry:wiki:items-page-title`)}</h1>

		<SpoilerWarning t={t} />

		{localizedElements.map((x) => 
			<a href={translatePath(`/alchemistry/item/${x.id}`)}>
				<img src={`/img/alchemistry/elements/${x.id}.png`} alt={x.name} />
				{x.name}
			</a>
		)}
	</div>
</Layout>
