---
import items from '/src/data/manufacturinc/items.json';

import { getLangFromUrl, useTranslatedPath, useTranslations } from '/src/i18n/utils';

import Layout from '/src/layout/layout.astro';
import LanguagePicker from '/src/components/LanguagePicker/index.astro';
import SpoilerWarning from '/src/components/SpoilerWarning';


import '/src/css/items-list.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const localizedElements = items.map((x) => ({
	id: x.id,
	name: t(`manufacturinc:resources:${x.id}`) || x.id
}));
localizedElements.sort((a, b) => {
	if(a.name > b.name) {
		return 1;
	}

	if(a.name === b.name) {
		return 0;
	}

	return -1;
});
---
<Layout title={`manufacturinc - ${t(`manufacturinc:wiki:items-page-title`)}`}>
	<div class="items-list">
		<LanguagePicker />

		<h1>{t(`manufacturinc:wiki:items-page-title`)}</h1>

		<SpoilerWarning t={t} />

		{localizedElements.map((x) => 
			<a href={translatePath(`/manufactur-inc/item/${x.id}`)}>
				<img src={`/img/manufacturinc/resources/${x.id}.svg`} alt={x.name} />
				{x.name}
			</a>
		)}
	</div>
</Layout>
